{% extends 'base.html' %}

{% block title%}<title>Барахолка РАОСа/Главная</title>{% endblock %}

{% block body %}
<main>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for el in data.items %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ el[1] }}</h4>
          </div>
          <div class="card-body">
            <img class="card-img-top" width="100%" height="225" src="{{ url_for('static', filename = el[1].img_path.strip(',').split(',')) }}">{{ el[1] }}</img>
            <h1 class="card-title pricing-card-title">{{ el[1].price }}<small class="text-muted fw-light">руб.</small></h1>
            <p class="card-text">{{ el[1].text }}</p>
           <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
               <div>
               <small class="text-muted">{{ el[1].created }}</small>
               <a href="{{ el[1].category.slug }}">{{ el[1].category.name }}</a>
               </div>
              </div>
            <a href="/item/{{ el[1].id }}" class="w-100 btn btn-lg btn-outline-primary">Подробнее</a>
          </div>
        </div>
      </div>
{% endfor %}
</div>

            <!-- Pagination Links-->

<div class="text-right d-flex justify-content-center">
    <a href="{{ url_for('categories',slug=data.items[0][1].category.slug, page=data.prev_num) }}"
       class="btn btn-outline-dark
       {% if data.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if data.page == page_num %}
            <a href="{{ url_for('categories',slug=data.items[0][1].category.slug, page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('categories',slug=data.items[0][1].category.slug, page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('categories',slug=data.items[0][1].category.slug, page=data.next_num) }}"
       class="btn btn-outline-dark
       {% if data.page == data.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3 d-flex justify-content-center">
   Showing page {{ data.page }} of {{ data.pages }}
</p>




  </main>
{% endblock %}


