{% extends 'base.html' %}

{% block title%}<title>Изменение {{data.title}}</title>{% endblock %}

{% block body %}
<main>

<div class="container">
    <h1>Изменение {{data.title}}</h1>
    <form method="post" enctype=multipart/form-data>
      <div class="row">
        <div class="form-group col-md-6  ">
          <label for="title">Название</label>
          <input autofocus type="text" class="form-control" name="title" id="title" value="{{ data.title }}">
        </div>
        <div class="form-group col-md-6 ">
          <label for="price">Цена</label>
          <input type="number" class="form-control" name="price" id="price" value="{{ data.price }}">
        </div>
      </div>
      <label for="text">Описание</label>
          <textarea name="text" id="text" placeholder="Введите описание"
                  class="form-control">{{ data.text }}</textarea>
      <label for="cat_select">Категории</label>
        <select class="form-control" style="max-width:100px" id="cat_select" name="cat_select">
          <option value="{{ data.category.id }}">{{ data.category.name }}</option>
          {% for category in ctgs %}
            <option value="{{category.id}}">{{category.name}}</option>
              {% endfor %}
        </select>
      <div class="d-flex justify-content-between align-items-center m-3">
      <div>
        <label for="is_active">Продано</label>
        <input type="checkbox" name="is_active" id="is_active">
      </div>
        <button class='btn btn-outline-primary' type="submit">Изменить</button>
      </div>

    </form>
</div>

  </main>
{% endblock %}


